*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    
}
nav{
    background-color: rgb(241, 68, 97);
}
.typearea{
    height: 40px;
    width: 400px;
    padding-left: 20px;
}
.searched{
    background-color: black;
    color: white;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 13px;
    padding-right: 100px;
    width: max-content;
    position: relative;
    right: 4px;

}
.subcata:hover{
    color: grey;
}
.subcata2:hover{
    color: grey;
}
.subcata3:hover{
    color: grey;
}

.catalag{
    cursor: pointer;
}
.logo{
    color: white;
    margin-left: 80px;
    padding: 30px;
    display: inline-block;
}
.ulogin{
    display: inline-block;
    margin-left: 70%;
    cursor: pointer;
    position: absolute;
    left: 100px;
    top: 20px;
}
.ulogin:hover{
    color: white;
}
.login{
    display: inline-block;
    color: white;
    background-color: black;
    margin-left: 40px;
    cursor: pointer;
    padding: 5px;
    position: absolute;
    left: 77%;
    top: 50px;
}
.login:hover{
    background-color: palevioletred;
}
.catalog,ul,li{
    display: inline-block;
    padding: 10px;
    margin-left: 30px;
}
.register{
    border-color: black;
    border-width: 5px;
    border-style: solid;
    margin-left: 60%;
    padding: 10px;
    text-align: center;
    width: 400px;
    height: 280px;
    background-color: white;    
}
.submit{
    
    width: 300px;
    height: 23px;
    margin-left: 10%;
    background-color: rgb(241, 68, 97);
    margin-top: 10px;
    cursor: pointer;
    padding: 5px;

}
.one{
    border-width: 1px;
    border-style: solid;
    padding: 4px;
    
}
.ones{
    border-width: 1px;
    border-style: solid;
    padding: 4px;
}
.submit:hover{
    background-color: rgb(241, 68, 97);
}

.write{
    background-color: rgb(241, 68, 97);
    color: white;
    padding: 10px;
    text-align: start;
    margin-top: 30px;
    margin-left: 50px;
    display: flexbox;
    position: relative;
    bottom: 300px;
    width: 54%;
    height: 200px;
    font-size: x-large;
}
.footer{
    padding: 10px;
    background-color: rgb(241, 68, 97); 
    cursor: pointer;
    position: relative;
    bottom: 200px;
    display: flex;
      
}
.footer1{
    display: inline-block;
    margin-left: 20px;
}
.footer2{
    display: inline-block;
    margin-left: 70%;
}
.footer1:hover{
    color: white;
}
.footer2:hover{
    color: white;
}
